// Fonts
// @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Roboto&display=swap');

// Variables
@import 'variables';

// Loader CSS
@import 'loader';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: #fff;

    .navbar-brand {
        font-family: $headings-font-family;
        font-size: 3.8em;
    }
}

.splash {
    background-image: url(/img/watching.jpg);
    height: 100px;
    background-position: center;
    background-size: cover;
}

.event-icon {
    width: 32px;
    height: 32px;
}

.support-img {
    // @extend .img-thumbnail;
    width: 100%;
    max-width: 100px;
}

.cookieConsent {
    background-color: #F2F2F0 !important;
    color: #212529 !important;
}
