// Fonts
// @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// Variables
@import "variables";

// Loader CSS
@import "loader";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@media (min-width: 992px) {
    .container-small {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 1000px;
    }
}

.navbar {
    background-color: #fff;

    .navbar-brand {
        img {
            width: 100%;
            max-width: 800px;
        }
    }
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.event-icon {
    width: 32px;
    height: 32px;
}

.event-image {
    width: 100%;
    max-width: 600px;
}

.lhc {
    width: 50px;
}

@media (max-width: 460px) {
    header .img-fluid {
        min-height: 100px;
        height: auto;
    }
}

@media (min-width: 461px) {
    header .img-fluid {
        min-height: 100px;
        height: auto;
    }
}

footer .img-fluid {
    max-width: 250px;
    height: 25px;
}

.img-icon {
    width: 30px;
    height: 30px;
}

.support-img {
    // @extend .img-thumbnail;
    width: 100%;
    max-width: 100px;
}

.cookieConsent {
    background-color: #f2f2f0 !important;
    color: #212529 !important;
}

a {
    color: #0069b3;
}
